/* Global defaults */
* {
  margin: 0px;
  padding: 0px;
}

/* Fixed contact button */
.contactLink {
  position: fixed;
  top: 25px;
  right: 25px;
}

.contactBtn {
  background-color: Yellow;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
  padding: 5px 10px;
  text-align: center;
}

.contactBtn:hover {
  background-color: rgb(86, 255, 71);
}

/* Title bar css */
.navbar {
  align-items: center;
  background-color: green;
  border-bottom: 3px solid black;
}

.title {
  align-items: center;
}

.logo {
  border-radius: 50%;
  position: absolute;
  height: 70px;
  width: 70px;
  top: 12px;
  left: 15px;
}

.navBtns {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.contactLink {
  text-decoration: none;
}

.companyName {
  color: lightgreen;
  font-family: cursive;
  padding: 10px;
  text-align: center;
  font-size: 40pt;
}

/* Slogan Section */
.sloganDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 7% 40px 7%;
}

.slogan {
  color: gainsboro;
  font-size: 25pt;
  text-align: center;
}

.mainImg {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.forest {
  height: 600px;
  width: 80%;
}

/* About section */
.bodyWrapper {
  background-image: url('https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&w=600');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: orange;
}


.aboutDiv {
  align-items: center;
  color: gainsboro;
  display: flex;
  flex-direction: column;
  padding: 30px 5% 7% 5%;
}

.aboutTitle {
  /* text-decoration: underline; */
  color: orange;
  font-size: 30pt;
  margin-bottom: 30px;
}

.about {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.aboutMsg {
  font-size: 22pt;
  font-weight: bold;
}

.aboutImg {
  border: 2px solid black;
  width: 400px;
}

/* Contact section */
.contactDiv {
  display: flex;
  justify-content: center;
  padding: 4% 7% 4% 7%;
}

.contactInfo {
  color: yellow;
  font-size: 35pt;
  text-align: center;
}

.contactMsg {
  color: yellow;
}

/* Maintenance Section */
.maintenanceDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 7% 40px 7%;
}

.maintenanceTitle {
  font-size: 30pt;
  text-align: center;
  margin-bottom: 20px;
}

.maintenanceDesc {
  color: gainsboro;
  font-size: 25pt;
}

/* Before and After Section */
.servicesDiv {
  color: orange;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3% 9% 5% 9%;
  text-align: center;
}

.servicesTitle {
  font-size: 30pt;
  margin-bottom: 50px;
}

.serviceTypes {
  display: flex;
  justify-content: space-around;
  gap: 100px;
  margin-bottom: 50px;
}

.service {
  color: black;
  flex: 1;
}

.serviceImgDiv {
  border: 3px solid black;
}

.servTitle {
  color: orange;
  margin-bottom: 10px;
}

.imgSlt {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-evenly;
}

#before {
  background-color: greenyellow;
  cursor: pointer;
  width: 100%;
}

#after {
  background-color: green;
  cursor: pointer;
  width: 100%;
}

.servicesLink {
  color: orange;
  font-size: 35pt;
}

.serviceImg {
  width: 100%;
}

/* Contact Us Page */
.contactWrapper {
  padding-bottom: 50px;
}

.homeBtn {
  background-color: greenyellow;
  border-radius: 20px;
  font-size: 15pt;
  font-weight: bold;
  padding: 5px 15px;
  position: absolute;
  top: 25px;
  right: 30px;
}

.contactTitle {
  font-size: 30pt;
  padding-top: 40px;
  text-align: center;
}

.contactSubTitle {
  font-size: 18pt;
  margin-top: 20px;
  text-align: center;
}

.formLabel {
  flex: 1;
  font-size: 20pt;
  margin-right: 10px;
}

.inputDiv {
  flex: 2;
  display: flex;
  height: 110%;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 12pt;
}

.formInput {
  flex: 2;
  font-size: 15pt;
  gap: 50px;
  height: 100%;
  padding: 5px 5px;
}

.selectInput {
  flex: 2;
  font-size: 15pt;
  gap: 20px;
  height: 100%;
  padding: 8px 0px;
}

.formTextarea {
  flex: 2;
  font-size: 15pt;
  padding: 5px 5px;
  overflow: auto;
}

.submitDiv {
  display: flex;
  justify-content: center;
}

.formSubmit {
  background-color: lightblue;
  border-radius: 25px;
  /* color: white; */
  font-size: 15pt;
  font-weight: bold;
  padding: 5px 30px;
}

.requestFormDiv {
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

.requestForm {
  background-color: whitesmoke;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  font-size: 20pt;
  width: 60%;
}

.formName {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formInput {
  display: flex;
}

/* Services Page */
.serviceWrapper {
  /* background-color: rgb(27,38,59); */
  text-align: center;
  padding-bottom: 50px;
}

.serviceTitle {
  /* color: gainsboro; */
  font-size: 35pt;
  padding-top: 50px;
}

.servicesInfoDiv {
  /* border: 3px solid black; */
  margin: 30px 5% 0px 5%;
}

.serviceType {
  /* background-color: gainsboro; */
  border: 3px solid black;
  margin-top: 40px;
  padding: 10px;
  padding-bottom: 20px;
}

.serviceName {
  margin-bottom: 10px;
}

/* Site Map Section */
.mapWrapper {
  background-color: black;
  color: orange;
  font-size: 15pt;
  padding: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.mapTitle {
  color: green;
  font-size: 35pt;
  text-align: center;
}

.mapHeader {
  margin-bottom: 15px;
  text-decoration: underline;
}

.mapHr {
  margin: 30px 0px;
}

.mapDiv {
  display: flex;
  justify-content: space-around;
}

.bbbImg {
  height: 100px;
  margin-top: 30px;
}

.emergencyService {
  color: yellow;
  font-size: 40pt;
  font-weight: bold;
}

.yelpLogo {
  cursor: pointer;
  height: 75px;
}

.instaLogo {
  cursor: pointer;
  height: 75px;
}

.mapLink {
  color: orange;
}

.logosDiv {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.isaImgDiv {
  flex: 1;
}

.isaImg {
  border-radius: 5px;
}

.mapDetailDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 5;
}