/* Global defaults */
* {
  margin: 0px;
  padding: 0px;
}

/* Fixed contact button */
.contactLink {
  position: fixed;
  top: 25px;
  right: 25px;
}

.contactBtn {
  background-color: Yellow;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
  padding: 5px 10px;
  text-align: center;
}

.contactBtn:hover {
  background-color: rgb(86, 255, 71);
}

/* Title bar css */
.navbar {
  align-items: center;
  background-image: radial-gradient(lightgreen, rgb(124, 218, 124), rgb(4, 156, 4));
  border-bottom: 3px solid black;
}

.companyName {
  color: darkgreen;
  font-family: cursive;
  padding: 10px;
  text-align: center;
  font-size: 40pt;
}

.title {
  align-items: center;
}

.logo {
  border-radius: 50%;
  position: absolute;
  height: 115px;
  width: 115px;
  top: 15px;
  left: 20px;
}

.navBtns {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 75px;
  margin-bottom: 15px;
}

.link {
  color: orangered;
  text-decoration: underline;
}

.link:hover {
  color: orange;
}

.contactLink {
  text-decoration: none;
}

/* Body */
.bodyWrapper {
  background-color: rgb(223, 223, 223);
  font-family: Arial, Helvetica, sans-serif;
}

/* Banner Section */
.bannerDiv {
  color: burlywood;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  height: 500px;
  padding: 50px;
  text-align: center;
  
}

.bannerHeader {
  color: orange;
  font-size: 40pt;
  text-align: center;
  padding: 50px 50px 30px 50px;
}

.bannerSubText {
  font-size: 25pt;
  padding: 0px 150px 20px 150px;
}

.bannerDetails {
  font-size: 25pt;
  font-weight: 500;
  padding: 0px 150px 10px 150px;
}

.forest {
  height: 800px;
  width: 100%;
}

/* About section */
.aboutDiv {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  padding: 75px 5% 50px 5%;
}

.about {
  color: white;
  display: flex;
  justify-content: space-between;
}

.aboutTitle {
  color: white;
  font-size: 30pt;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}

.aboutDetails {
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px 4% 4% 3%;
}

.aboutMsg {
  font-size: 17pt;
  margin-bottom: 20px;
}

.aboutImg {
  width: 400px;
}

/* Maintenance Section */
.maintenanceDiv {
  display: flex;
  justify-content: space-between;
  padding: 10px 5% 40px 5%;
}

.maintenance {
  display: flex;
}

.maintenanceDetails {
  background-size: contain;
  background-position: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  padding: 3% 3% 3% 3%;
}

.maintenanceTitle {
  font-size: 30pt;
  margin-bottom: 20px;
}

.maintenanceDesc {
  color: white;
  font-size: 17pt;
}

.maintenanceList {
  color: white;
  font-size: 15pt;
  padding: 20px;
  margin-left: 40px;
}

.maintenanceList li {
  margin-bottom: 20px;
}

/* Contact section */
.contactDiv {
  background-color: rgb(82, 82, 82);
  display: flex;
  justify-content: center;
  padding: 4% 10% 4% 10%;
  margin-top: 70px;
}

.contactInfo {
  color: orange;
  font-size: 25pt;
  text-align: center;
}

.contactMsg {
  color: orange;
}

/* Before and After Section */
.diffSep {
  background-color: black;
  padding: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.differenceDiv {
  padding-bottom: 50px;
  text-align: center;
}

.differences {
  margin: 0% 5%;
}

.differenceTitle {
  font-size: 30pt;
  margin-bottom: 50px;
}

.differenceSection {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.differenceType {
  display: flex;
}

.differenceDetails {
  background-size: contain;
  background-position: center;
  color: white;
  width: 100%;
}

.imageBefore {
  width: 40%;
}

.servTitle {
  color: orange;
  margin-bottom: 10px;
  text-align: center;
}

.servicesLink {
  color: orange;
  font-size: 35pt;
}

/* Contact Us Page */
.contactWrapper {
  padding-bottom: 50px;
}

.homeBtn {
  background-color: greenyellow;
  border-radius: 20px;
  font-size: 15pt;
  font-weight: bold;
  padding: 5px 15px;
  position: absolute;
  top: 25px;
  right: 30px;
}

.contactTitle {
  font-size: 30pt;
  padding-top: 40px;
  text-align: center;
}

.contactSubTitle {
  font-size: 18pt;
  margin-top: 20px;
  text-align: center;
}

.formLabel {
  flex: 1;
  font-size: 20pt;
  margin-right: 10px;
}

.inputDiv {
  flex: 2;
  display: flex;
  height: 110%;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 12pt;
}

.formInput {
  flex: 2;
  font-size: 15pt;
  gap: 50px;
  height: 100%;
  padding: 5px 5px;
}

.selectInput {
  flex: 2;
  font-size: 15pt;
  gap: 20px;
  height: 100%;
  padding: 8px 0px;
}

.formTextarea {
  flex: 2;
  font-size: 15pt;
  padding: 5px 5px;
  overflow: auto;
}

.submitDiv {
  display: flex;
  justify-content: center;
}

.formSubmit {
  background-color: lightgreen;
  border-radius: 25px;
  font-size: 15pt;
  font-weight: bold;
  padding: 5px 30px;
}

.formSubmit:hover {
  background-color: rgb(80, 184, 80);
  color: white;
}

.requestFormDiv {
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

.requestForm {
  background-color: whitesmoke;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px;
  font-size: 20pt;
  width: 60%;
}

.formName {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.formInput {
  display: flex;
}

/* Services Page */
.serviceWrapper {
  /* background-color: rgb(27,38,59); */
  text-align: center;
  padding-bottom: 50px;
}

.serviceTitle {
  /* color: gainsboro; */
  font-size: 35pt;
  padding-top: 50px;
}

.servicesInfoDiv {
  /* border: 3px solid black; */
  margin: 30px 5% 0px 5%;
}

.serviceType {
  /* background-color: gainsboro; */
  border: 3px solid black;
  margin-top: 40px;
  padding: 10px;
  padding-bottom: 20px;
}

.serviceName {
  margin-bottom: 10px;
}

/* Site Map Section */
.mapWrapper {
  background-color: rgb(43,43,43);
  color: gainsboro;
  font-size: 15pt;
  padding: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.mapTitle {
  color: lightgreen;
  font-size: 35pt;
  text-align: center;
}

.mapHeader {
  color: lightgreen;
  margin-bottom: 15px;
}

.mapHr {
  margin: 30px 0px;
}

.mapDiv {
  display: flex;
  justify-content: space-around;
}

.bbbImg {
  height: 100px;
  margin-top: 30px;
}

.emergencyService {
  color: orange;
  font-size: 40pt;
  font-weight: bold;
}

.yelpLogo {
  cursor: pointer;
  height: 75px;
}

.instaLogo {
  cursor: pointer;
  height: 75px;
}

.mapLink {
  color: gainsboro;
}

.mapLink:hover {
  color: yellow;
}

.logosDiv {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.isaImgDiv {
  flex: 1;
}

.isaImg {
  border-radius: 5px;
}

.mapDetailDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 5;
}